
.About-us-heading{
    color: white;
    margin-top: 100px;
    margin-bottom:70px;
    font-size:100px;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
}

.About-us-intro-box{
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  padding: 20px;
  align-self: center;
  width: 96%;
  border-radius: 12px;
}

.About-us-what, .About-us-Mission, .About-us-Vision {
    color: #CB2222;
    text-decoration:overline;
    margin: 30px;
    text-align: center;
    font-size: 42px;
  }
  
  .About-us-what {
    font-weight: bold;
    margin: 30px;
  }
  
  .About-us-Mission,
  .About-us-Vision {
    font-size: 42px;
    font-weight: bold;
    margin: 30px;
  }
  
  .About-us-Mission-p {
    font-size: 16px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
  }
  
  .About-us-Vision-p {
    font-size: 16px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
  }

  .About-us-headline {
    font-size: 18px;
    width: 50%;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 50px auto;
    font-weight: bolder;
  }
  
  .About-us-introduction{
    margin: 30px;
    font-size: 18px;
  }

 
  .About-us-features-heading {
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
  }
  
  .About-us-features {
    list-style-type: none;
    margin: 30px;
  }

  .About-us-features li {
    font-size: 16px;
  }
  

  .About-us-introduction {
    margin: 30px;
  
  }


  .About-us-Mission-box,
  .About-us-Vision-box
  {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
    
  }

  .About-us-promotion-box
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
  }


  .About-us-promotion-box-services div
  {
    margin: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    
  }

  .About-us-promotion-box-services div:hover
  {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }


  .About-us-promotion-box-247 h3{

    font-size: 30px;
  }

  .About-us-promotion-box-employees h3
  {
    font-size: 30px;
  }

  .About-us-promotion-box-trust h3
  {
    font-size: 30px;
  }

  .About-us-promotion-box-saved h3
  {
    font-size: 30px;
  }

html {
    scroll-behavior: smooth;
}

.About-us-Mission-box-img{
   height: 100%;
   width: 50%; 
   background-size: contain;
}
.About-us-Mission-box-word
{
  height: 100%;
   width: 50%; 
}

.About-us-Mission-box-word p:hover
{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.About-us-Vision-box-word
{
   height: 100%;
   width: 50%; 
   padding: 20px;
}

.About-us-Vision-p:hover
{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.About-us-top-div
{
 
  background-image: url(../public/assets/Rectangle123.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  
}


.About-us-intro-box-word{

  width: 50%;

}

.About-us-intro-box-img
{
  background-image: url('../public/assets/tech.png');
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;

}

.About-us-promotion-box-services
{
  width: 20%;
}

.About-us-promotion-box-services-img
{
  background-image: url('../public/assets/img24_7.jpg');
  width: 60%;
  background-repeat:initial;
  background-position: center;
  background-size: cover;
}

.About-us-Vision-box-img
{
  background-image: url('../public/assets/gaining-trust.webp');
  width: 50%;
  height: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.About-us-Mission-box-img
{
  background-image: url('../public/assets/doctor_patient.jpg');
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

