.hospital_details{
   background-color: white;
   margin: 50px;
   padding: 20px;
   border-radius: 10px;
   
}

.btncontainer{
   display: flex;
    flex-direction:row;  
    justify-content: right;
    gap: 10px;
}
.btnDelete{
   background-color: red;
   padding: 10px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between; 
   align-items: centers;
   
}

.btnupdate{
   background-color: blue;
   padding: 10px;
   border-radius: 10px;
}


 /*HospitalStaffLogin*/

.HospitalStaffLogin_Form{
   width: 450px;
   margin: 100px auto;
   box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   padding: 30px;
}

.HospitalStaff-login-title{
   font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.HospitalStaffLogin_Form_inputFields{
   display:flex;
    flex-direction: column;
}

.HospitalStaff-login-input{
   border: 2px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.HospitalStaff-login-label{
   font-weight:normal ;
    margin: 5px;
}

.HospitalStaff-login-btn{
   margin : 20px 8px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(236, 62, 62);
    color: white;
}


      /* Hospital dashboars */

.hospitalDashboard-container{
   position: relative;
   display: inline-block;
}

.hospitalDashboard-container-image{
   height: 1000px;
   width: 2000px;
   
}
.hospitalDashboard-container-cards{
   margin-top:70px;
   margin-left:50px;
   display: flex;         
    gap: 70px; 
    margin-right:50px; 
          
}

.hospitalDashboard-container-h1{
   position: absolute;
   top:30%;
   left:50px;
   font-size: 70px;
   color: white;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

.hospitalDashboard-container-cards-details-img{
   height: 300px;
   width:300px;
   border-radius: 30px;
   padding: 20px;

}

.hospitalDashboard-container-cards-details:hover{
   background-color: #9a9191;
}


.hospitalDashboard-container-cards-details{
  
   font-weight: bold;
   background-color: #D9D9D9; 
   cursor: pointer;
}

.hospitalDashboard-container-cards-details-img-h3{
   color: red;
}

.hospitalDashboard-container-cards-details-img-paharagrph{
   color: black;
   width: 300px;
}