@import "tailwindcss";

@theme {
    --color-primary: #cb2222;
    --color-primary-50: #fef2f2;
    --color-primary-100: #fee2e2;
    --color-primary-200: #fecaca;
    --color-primary-300: #fba6a6;
    --color-primary-400: #f77272;
    --color-primary-500: #ee4545;
    --color-primary-600: #cb2222;
    --color-primary-700: #b81d1d;
    --color-primary-800: #981c1c;
    --color-primary-900: #7e1e1e;
    --color-primary-950: #450a0a;

    --color-secondary: #dfe4f1;
    --color-secondary-50: #f3f6fa;
    --color-secondary-100: #e9edf6;
    --color-secondary-200: #dfe4f1;
    --color-secondary-300: #bfc8e2;
    --color-secondary-400: #a4add5;
    --color-secondary-500: #8d93c7;
    --color-secondary-600: #7576b6;
    --color-secondary-700: #63639f;
    --color-secondary-800: #525381;
    --color-secondary-900: #474968;
    --color-secondary-950: #292a3d;

    --color-secondary-green: #53e953;
    --color-secondary-green-50: #effeef;
    --color-secondary-green-100: #dbfeda;
    --color-secondary-green-200: #b8fbb7;
    --color-secondary-green-300: #81f580;
    --color-secondary-green-400: #53e953;
    --color-secondary-green-500: #18cf18;
    --color-secondary-green-600: #0eab0f;
    --color-secondary-green-700: #0f8610;
    --color-secondary-green-800: #116a13;
    --color-secondary-green-900: #105712;
    --color-secondary-green-950: #033006;


}

@font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-VariableFont_wght.woff2") format("woff2"),
        url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 700; /* Defines variable font range */
    font-style: normal;
}

body {
    font-family: "Roboto Mono", monospace;
}
