@import "tailwindcss";
@import '../src/css/paramedic.css';

@theme {
    --color-primary: #cb2222;
    --color-primary-50: #fef2f2;
    --color-primary-100: #fee2e2;
    --color-primary-200: #fecaca;
    --color-primary-300: #fba6a6;
    --color-primary-400: #f77272;
    --color-primary-500: #ee4545;
    --color-primary-600: #cb2222;
    --color-primary-700: #b81d1d;
    --color-primary-800: #981c1c;
    --color-primary-900: #7e1e1e;
    --color-primary-950: #450a0a;

    --color-secondary: #dfe4f1;
    --color-secondary-50: #f3f6fa;
    --color-secondary-100: #e9edf6;
    --color-secondary-200: #dfe4f1;
    --color-secondary-300: #bfc8e2;
    --color-secondary-400: #a4add5;
    --color-secondary-500: #8d93c7;
    --color-secondary-600: #7576b6;
    --color-secondary-700: #63639f;
    --color-secondary-800: #525381;
    --color-secondary-900: #474968;
    --color-secondary-950: #292a3d;

    --color-secondary-green: #53e953;
    --color-secondary-green-50: #effeef;
    --color-secondary-green-100: #dbfeda;
    --color-secondary-green-200: #b8fbb7;
    --color-secondary-green-300: #81f580;
    --color-secondary-green-400: #53e953;
    --color-secondary-green-500: #18cf18;
    --color-secondary-green-600: #0eab0f;
    --color-secondary-green-700: #0f8610;
    --color-secondary-green-800: #116a13;
    --color-secondary-green-900: #105712;
    --color-secondary-green-950: #033006;


}

@font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-VariableFont_wght.woff2") format("woff2"),
        url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 700; /* Defines variable font range */
    font-style: normal;
}

body {
    font-family: "Roboto Mono", monospace;
}

.About-us-whole{
  background:linear-gradient(to left,pink,white);
}

.About-us-heading{
    color: #CB2222;
    margin: 30px;
    font-size:100px;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
}

.About-us-intro-box{
  margin: 30px auto;
  padding: 20px;
  align-self: center;
  width: 96%;
  border-radius: 12px;
  box-shadow: 0 4px 20px gray;
}

.About-us-what, .About-us-Mission, .About-us-Vision {
    color: #CB2222;
    margin: 30px;
    text-align: center;
    font-size: 42px;
  }
  
  .About-us-what {
    font-weight: bold;
    margin: 30px;
  }
  
  .About-us-Mission,
  .About-us-Vision {
    font-size: 42px;
    font-weight: bold;
    margin: 30px;
  }
  
  .About-us-Mission-p {
    font-size: 25px;
    margin: 30px;
  }
  
  .About-us-Vision-p {
    font-size: 25px;
    margin: 30px;
  }

  .About-us-headline {
    font-size: 30px;
    color: black;
    margin: 30px;
  }
  
  .About-us-introduction{
    margin: 30px;
    font-size: 25px;
  }

 
  .About-us-features-heading {
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
  }
  
  .About-us-features {
    list-style-type: square;
    font-size: 16px;
    margin: 30px;
  }

  .About-us-features li {
    font-size: 25px;
    margin: 30px;
  }
  

  .About-us-introduction {
    margin: 30px;
  
  }

  .About-us-Mission-box,
  .About-us-Vision-box
  {
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px gray;
  
  }

  .About-us-promotion-box
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px gray;
  }


  .About-us-promotion-box div
  {
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px gray;
  }


  .About-us-promotion-box-247 h3{

    font-size: 100px;
  }

  .About-us-promotion-box-employees h3
  {
    font-size: 100px;
  }

  .About-us-promotion-box-trust h3
  {
    font-size: 100px;
  }

  .About-us-promotion-box-saved h3
  {
    font-size: 100px;
  }